:root{
    --primary-color:#5ab7cc;
    --primary-hover:#47d0ef;
}

/* .btn-warning{
    background-color:var(--primary-color);
    border-color: var(--primary-color);
    
    color:black;
}

.btn-warning:hover{
    background-color:var(--primary-hover);
    border-color: var(--primary-hover);
    color:white;
} */
/* 
.btn-warning{

    background:#055160 !important;
    border-color:#055160 !important;
    color:white !important;

}

.btn-warning:hover{

    background:#044252 !important;
    border-color:#044252 !important;
    color:white !important;

} */

body{
    background:#F8F9FA;
}












.navbar .nav-link{
    transition: all .25s ease;
}

.navbar .nav-link:hover{
    color:#FFC107 !important;
}

.dropdown-menu{
    min-width:220px;
}

.dropdown-item:hover{
    background:#fff8e1;
}

.navbar-brand{
    letter-spacing:.5px;
}